
@{
    ViewBag.Title = "BlogDetails";
}

@section navBar{
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container" style="padding-right: 0px;">
                <a class="navbar-brand" href=@Url.Action("Index", "Home")><h2>Online Store <em>Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Product", "Product")>Product</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                            <div class="dropdown-menu active">
                                <a class="dropdown-item active" href=@Url.Action("Blog", "Home")>Blog</a>
                                <a class="dropdown-item" href=@Url.Action("Testimonials", "Home")>Testimonials</a>
                                <a class="dropdown-item" href=@Url.Action("Terms", "Home")>Terms</a>
                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("About", "Home")>About Us</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Contact", "Home")>Contact Us</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Profile", "User")>Profile</a>
                        </li>

                        <li class="nav-item" style="margin-top: 10px; margin-left: 30px;">
                            <a href="#">
                                <span class="lnr lnr-cart">🛒</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}

@section Banner{
    <div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-6-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h2>Blog Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                </div>
            </div>

            <div class="col-md-8">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, sed. Ex, id autem cum assumenda, quisquam cupiditate amet dolorem atque ipsam pariatur sequi voluptatem est nesciunt eum, aspernatur, tenetur rem. <br>

                    <br>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, consequatur, magnam. Dolorum vitae a vel quisquam. Fuga quia suscipit id veritatis sint earum impedit corporis quidem eum consectetur ipsam ex sequi ad, distinctio enim tenetur eveniet eligendi. Laborum, sapiente, magnam.
                </p>

                <br>

                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, modi.</h5>

                <br>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam officia in adipisci. Corporis rem beatae cupiditate neque consequuntur necessitatibus expedita laudantium temporibus quam ex quidem, aut non blanditiis soluta deserunt dolores mollitia repudiandae voluptatibus perspiciatis dolor quos distinctio! Atque, magnam. <br>

                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolore ducimus, ad itaque reprehenderit repellat dignissimos, qui velit dolores voluptas.
                </p>
            </div>

            <div class="col-md-4">
                <div class="left-content">
                    <h4>Lorem ipsum dolor sit amet.</h4>

                    <br>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, minus?</p>
                </div>
            </div>
        </div>

        <br>

        <div>
            <img src="~/assets/images/blog-image-fullscren-1-1920x700.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>

<div class="send-message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Leave a Comment</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Submit</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="left-content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur. Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.</p>

                    <br>

                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

