
@{
    ViewBag.Title = "Blog";
}

@section navBar{
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container" style="padding-right: 0px;">
                <a class="navbar-brand" href=@Url.Action("Index", "Home")><h2>Online Store <em>Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Index", "Home")>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Product", "Product")>Product</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>

                            <div class="dropdown-menu active">
                                <a class="dropdown-item active" href=@Url.Action("Blog", "Home")>Blog</a>
                                <a class="dropdown-item" href=@Url.Action("Testimonials", "Home")>Testimonials</a>
                                <a class="dropdown-item" href=@Url.Action("Terms", "Home")>Terms</a>
                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("About", "Home")>About Us</a></li>

                        <li class="nav-item"><a class="nav-link" href=@Url.Action("Contact", "Home")>Contact Us</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href=@Url.Action("Profile", "User")>Profile</a>
                        </li>

                        <li class="nav-item" style="margin-top: 10px; margin-left: 30px;">
                            <a href="#">
                                <span class="lnr lnr-cart">🛒</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}

@section Banner{
    <div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-6-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Aperiam modi voluptatum fuga officiis cumque</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-4-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-5-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="blog-details.html" class="services-item-image"><img src="~/assets/images/blog-6-370x270.jpg" class="img-fluid" alt=""></a>

                            <div class="down-content">
                                <h4><a href="blog-details.html">Aperiam modi voluptatum fuga officiis cumque</a></h4>

                                <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="pages">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-form">
                    <div class="form-group">
                        <h5>Blog Search</h5>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        </div>

                        <div class="col-4">
                            <button class="filled-button" type="button">Go</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>

                <p><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing.</a></p>
                <p><a href="blog-details.html">Et animi voluptatem, assumenda enim, consectetur quaerat!</a></p>
                <p><a href="blog-details.html">Ducimus magni eveniet sit doloremque molestiae alias mollitia vitae.</a></p>
            </div>
        </div>
    </div>
</div>

